# Python dependencies for your application can be declared here and they will be installed in the runtime container.
Pillow==9.3.0
torch==1.8.1;python_version<="3.8"
torchvision==0.9.1;python_version<="3.8"
torch
torchvision
